.c-description {
    padding: 50px 30px 30px 30px;
    border: 1px solid #e0e0e0;
    border-top: none;

    &__text {
        margin-bottom: 40px;
    }

    &__special {
        color: $blue;
    }
}
