.c-nav {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    color: white;
    transition: 0.3s;
    background: black;
    height: 65px;

    &__list {
        text-transform: capitalize;
        font-weight: 400;
        position: relative;
        font-size: 16px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
