.c-eye-catcher {
    background: #15141a;
    color: $grey;

    &__text {
        line-height: 48px;
        font-size: 2rem;
        line-height: 1.25;

        @include media-breakpoint-down(md) {
            font-size: 1.85rem;
        }
    }

    &__question {
        font-weight: 400;
        color: white;
        padding-right: 5px;
    }

    &__call-to-act {
        font-weight: 300;
        padding-right: 20px;
    }
}
