.c-about-s {
    background-color: #f2f2f2;

    &__info {
        margin-top: 90px;

        @include media-breakpoint-down(lg) {
            margin-top: 35px;
            margin-bottom: 0;
        }
    }
}
