.c-about-l {
    background-color: white;

    &__info {
        margin-top: 50px;
        margin-bottom: 60px;

        @include media-breakpoint-down(md) {
            margin-top: 0px;
        }
    }

    &__item {
    display: flex;
    align-items: center;
    margin: 15px 0;

        & span {
            color: $black;
        }
    }
}
