.c-contact {
    background: $grey;
    text-align: center;

    &__form {
        background-color: rgb(21, 20, 26);
        padding: 50px 75px 30px 55px;
    }

    &__input {
        height: 50px;
        padding: 0 20px;
    }

    &__text-area {
        height: 190px;
        padding: 20px;
    }

    &__input,
    &__text-area {
        border: 1px solid white;
        background: rgb(21, 20, 26);
        border-radius: 3px;
        opacity: 0.2;
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }

    &__input::placeholder,
    &__text-area::placeholder {
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
        text-align: left;

    }

    &__map {
        height: 440px;
    }
}
