.u-price-hov {
    background: $blue;
    border-color: $blue;

    & > p,
    & > span {
        color: white !important;
    }
}

.u-name-hov {
    color: $blue;
}

.u-tap-area {
    padding: 10px;
    margin: -10px;

    &--sm {
        padding: 5px;
        margin: -5px;
    }

    &--nomrg {
        margin: 0;
    }

    &--menu {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.u-color-white {
    color: white;
}

.u-full-height {
    height: 100%;
}

.u-flex-align {
    &__l {
        &t {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &c {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &b {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &__c {
        &t {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        &c {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &b {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__r {
        &t {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }

        &c {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &b {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    &__s {
        &-l {
            align-self: flex-start;
        }

        &-c {
            align-self: center;
        }

        &-r {
            align-self: flex-end;
        }
    }
}

.u-flex-dir {
    &__col {
        display: flex;
        flex-direction: column;
    }
}

.u-flex-wrap {
    &__no {
        flex-wrap: nowrap;
    }
    &__wrap {
        flex-wrap: wrap;
    }
}

.u-border {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.u-separator {
    &::after {
        content: "";
        background-color: $grey;
        width: 100vw;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
    }
}

.u-margin {
    &-rl__auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.u-padding {

    &-r {
        &__10 {
            padding-right: 10px;
        }
        &__none {
            padding-right: 0;
        }
    }
    
    &-l {
        &__10 {
            padding-left: 10px;
        }
        &__none {
            padding-left: 0;
        }
    }
}
